# Lab 9

## In-Lab 1

In [28]:
import pandas as pd

data = pd.read_csv('./data/HR_comma_sep.csv')
data.head().T

                           0       1       2      3      4
satisfaction_level      0.38     0.8    0.11   0.72   0.37
last_evaluation         0.53    0.86    0.88   0.87   0.52
number_project             2       5       7      5      2
average_montly_hours     157     262     272    223    159
time_spend_company         3       6       4      5      3
Work_accident              0       0       0      0      0
left                       1       1       1      1      1
promotion_last_5years      0       0       0      0      0
sales                  sales   sales   sales  sales  sales
salary                   low  medium  medium    low    low

In [45]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

x = data.iloc[:, :-1].values
y = data.iloc[:, -1].values

le = LabelEncoder()
x[:, -1] = le.fit_transform(x[:, -1])

ohe = OneHotEncoder()
x = ohe.fit_transform(x).toarray()

le_y = LabelEncoder()
y = le_y.fit_transform(y)

In [46]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y)

In [53]:
from sklearn.svm import LinearSVC

model = LinearSVC()
model.fit(x_train, y_train)

LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
     intercept_scaling=1, loss='squared_hinge', max_iter=1000,
     multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
     verbose=0)

In [54]:
model.score(x_test, y_test)

0.49333333333333335